   /* 首页*/
    /*title strat*/
    .title{height: 175px;background: #f8fafd;}
     .title h1{font-size: 38px;margin:55px 0 0;color: #007ac4;}
     .title img{float: left; margin:35px 0 0 250px;}
     .title  p{text-align: center;color: #4a4b4b;margin-top:5px;}
     /*title end*/
	 /*imgnew strat*/
     .imgnew{background: #f8fafd;height: 500px;}
     .imgnew dl{width: 375px;float: left;border-bottom: 3px #eef2f7 solid;}
	.imgnew dd{text-align: center;height: 183px;background:#fff;padding-top: 10px;}
	.imgnew dl dd p a{display: block;float: left;width: 115px;height: 32px;line-height: 32px;text-align: center;text-decoration: none;color: #5e5e5e;border: 1px #cccccc solid; margin:0 8px;border-radius:5px;}
	.imgnew dl dd p:nth-child(4){padding-left: 55px;margin-top:15px;}
	.imgnew dl dd h1{margin-bottom: 10px;color: #5e5e5e;}
	.imgnew dl dd p:nth-child(2){margin-bottom: 10px;}
	.imgnew dl dd a:hover{background: #0187e6;color: #fff;}
	.imgnew dl dt{position: relative;}
	
	.imgnew dl dt span{background:rgba(0,0,0,0);position: absolute;width: 375px;height: 277px;transition: all .5s}
	.imgnew dl:hover dt span {background: rgba(0,0,0,.5);/*position: relative;*/}
	.imgnew dl:nth-child(2){margin:0 37px;}
	/*.imgnew dl dt span img{position: absolute;right: 0;top: 0;bottom: 0;left: 0;margin:auto;}
*/
	/*imgnew end*/
	/*dldt start*/
	.dldt h1{color: #5e5e5e;text-align: center;margin-top: 55px;}
	.dldt dl dd{text-align: center;}
	.dldt dl{width: 300px;height: 230px;margin-top:40px;float: left;}
	.dldt dl dt img{text-align: center;padding-left:85px;margin-bottom: 25px;}
	.dldt dl dd p{margin:10px 0;}
	.dldt dl{margin-right:150px;}
	.dldt dl.mar {margin-right:0px;}
	/*dldt end*/
		.xiaotu{height: 705px;background:#f8fafd;}
       .xiaotu h1{color: #5e5e5e;text-align: center;margin:55px 0 40px;}
       .xiaotu a{display:block;/*width: 227px;height: 98px;*/width: 239px;height: 155px;overflow: hidden;float: left;border-right: 1px #dddddd dashed;border-bottom: 1px #dddddd dashed;background: #fff;}
       .xiaotu a img{transform: translateY(-150px);transition: all 0.3s;}
       .xiaotu a:hover img{transform: translateY(0px);}
       .xiaotu a:hover{background:#f8f8f8;}
       .xiaotu p a{display: block;width: 185px;height: 47px;line-height: 47px;text-align: center;text-decoration: none;color: #444444;margin-top: 30px;border: 1px #ecebeb solid;position:relative;}
       .xiaotu p{display: block; height: 47px;width: 185px;margin:0 auto;}
       .xiaotu p a span{color:#ccccd5;}
       .top li a{display: block;width: 60px;height: 60px;background:#6e8696; margin-bottom: 5px;border-radius: 5px;text-decoration: none;color: #fff;text-align: center;font-size: 13px;}
       .top li a img{margin:0 0 5px 13px;padding-top:10px;}
       .top{position: fixed;bottom:50px;right:25px;}
       .top ul li:nth-child(3) a {position:relative;background: #0076ca;}
       .top ul li:nth-child(3) a span{display: block; width: 30px;height: 30px;position: absolute;right: 0;top: 0;bottom: 0;left: 0;margin:auto;}
        /* 首页 end*/
         /* 教育*/
         .title_jiao {text-align: center;height: 255px;background: #fbfbfb;}
         .title_jiao h1{font-weight:normal;margin: 110px 0 20px 0;}
         /*jiaoyu_dldt start*/
         .jiaoyu_dldt{background: #fbfbfb;height: 675px;}
         .jiaoyu_dldt dl{width: 399px;height: 300px;color: #666666;float: left;border-right: 1px #daecfe solid;border-bottom: 1px #daecfe solid; }
         .jiaoyu_dldt dl dt img{float: left;}
         .jiaoyu_dldt dl dt{overflow: hidden;margin-bottom: 10px;margin-left:45px;}
         .jiaoyu_dldt dl dt a{display: block; text-decoration: none;font-size: 30px;padding-left: 150px;padding-top:30px; color: #2f75bb;}
         .jiaoyu_dldt dl dd{margin-left:45px;width: 310px;}
         .jiaoyu_dldt dl dd a{margin:0 5px;color: #666666;}
         .jiaoyu_dldt dl dd p {margin:25px 0;}
         .jiaoyu_dldt dl:nth-child(3){border-right: none;}
         .jiaoyu_dldt dl:nth-child(6){border:none;}
         .jiaoyu_dldt dl:nth-child(5){border-bottom:none;}
         .jiaoyu_dldt dl:nth-child(4){border-bottom: none;}
          /*jiaoyu_dldt end*/
           /*颠覆 start*/
           .dianfu{height: 700px;background: #eaf1f2;}
           .dianfu h1{font-weight:normal;margin: 110px 0 90px 0;text-align: center;}
           .dianfu dl {width: 300px;float: left;}
           .dianfu dl dt{width: 300px;height: 250px;position: relative;}
           .dianfu dl dt img{position: absolute;right: 0;top: 0;bottom: 0;left: 0;margin:auto;}
           .dianfu dl dd p{text-align: center;font-size: 18px;color: #acb1b2;}
           .dianfu dl dd {padding-top: 60px;}
           .dianfu dl dd p:nth-child(2){font-size: 30px;margin-top: 10px;}
           .dianfu dl:nth-of-type(2){margin:0 150px;}
           /*颠覆 end*/
          /* 10000+ start center_last*/
         .center_last{height: 280px;background: #fbfbfb;text-align: center;padding-top: 95px;}
         .center_last h1:nth-of-type(1){color: #2f75bb;}
         .center_last h1:nth-of-type(2){margin:30px 0 25px ;}
         .center_last p{margin-bottom:15px;}
          /* 10000+ end center_last*/
        /*  教育*/
        /*关于我们*/
        .about_banner{height: 289px;border-top:1px #cccccc solid;}
        .about_banner img{margin:0 auto;}
	     /*banner end*/
	     .about_body{width: 1200px;margin-top: 33px;}
	    
	     .about_body_l ul{width: 166px;height: 280px;background: 3px #fff solid;}
	     .about_body_l ul li a{display: block;height: 40px;width: 156px;line-height: 40px;text-decoration: none;color: #404040;padding-left: 20px;border-bottom:1px #f2f2f2 solid;border-right: 3px #fff solid;border-left: 3px #fff solid; }
	     .about_body_l{width: 180px;height: 285px;border: 5px #e3e3e3 solid;float: left;}
	     .about_body_l li:nth-child(7) a{border-bottom: none;}
	     .about_body_l ul li a:hover{background: #0579cb; color: #fff;font-size: 20px;}
	     .about_body_r{width: 980px;float: right;}
		 .about_body_r>p {font-size: 28px;color: #2f2f2f; }
		 .about_body_r p img {float: left;margin:7px 10px 0 0;}
		 .about_body_r>p:nth-child(2){color: #dcdcdc; border-bottom: 1px #e5e5e5 solid;}

		 .about_img img {float: right;margin-left: 45px;}
		 .about_img span {display: block; text-indent:2em;margin:44px 22px;}
		 .about_img {height: 350px;border-bottom:1px #e5e5e5 solid;}
		/* .about_img end;*/
		 .about_right {margin-top: 70px;height: 545px;border-bottom:1px #e5e5e5 solid;}
		 .about_right img{float: left;margin-right: 25px;}
		 .about_right dl dd h3{margin:40px 0 10px;}
		 .about_right dl dd p{font-size: 13px;margin:10px 0;}
		/* .about_right end*/
		.linian{height: 360px;border-bottom: 1px #e5e5e5 solid; }
		.linian h1 {font-weight:normal;margin: 45px 0 20px 0;text-align: center;color: #4b4b4b;}
		.linian h1 span{color: #1b8dde;}
		.linian dl{width: 200px;text-align: center;float: left;}
		.linian dl dt img{margin:0 auto;}
		.linian dl dd p{margin-top:10px;}
		.linian dl{margin-right: 60px;}
		.linian dl:nth-of-type(4){margin-right:0px;}
		/*.linian end*/
		.kaituo{height: 450px;}
		.kaituo h1{font-weight:normal;margin: 45px 0 20px 0;text-align: center;color: #4b4b4b;}
		.kaituo p {color: #2f2f2f;text-align: center;margin-bottom: 10px; }
		.kaituo a{float: left;margin-bottom: 1px;margin-right: 1px;}
		.kaituo a img{width: 80px;height: 80px;/*transition: all 1s;*/animation:aa 2s infinite alternate;}
		.kaituo p:nth-of-type(3){margin-bottom: 30px;}
		/*.kaituo a:hover img{transform: scale(3) rotate(360deg);}*/

			@keyframes aa {
				form {transform: scale(1) rotate(0deg)}
				to {transform: scale(3) rotate(3060deg)}

			}


		   /*右下角小图标*/
		.top2 li a{display: block;width: 60px;height: 60px;background:#6e8696; margin-bottom: 5px;border-radius: 5px;text-decoration: none;color: #fff;text-align: center;font-size: 13px;}
       .top2 li a img{margin:0 0 5px 13px;padding-top:10px;}
       .top2{position: fixed;bottom:120px;right:25px;}
       .top2 ul li:nth-child(2) a{position: fixed;bottom:50px;right:25px;}
       .top2 ul li:nth-child(1) a{width: 120px;line-height: 60px;text-align: center;background: #0076cb;}
       .top2 ul{float: right;}

		
		






