/*公用*/
		img {display:block;}
		*{margin:0;padding:0;}
		a{text-decoration: none;}
		html,body {height:100%;}
		@media only screen and (min-width:320px){ 
			html {font-size:22px!important;}
		}  
		@media only screen and (min-width:360px){ 
			html {font-size:23px!important;}
		}  
		@media only screen and (min-width:375px){ 
			html {font-size:24px!important;}
		} 
		@media only screen and (min-width:401px){ 
			html {font-size:25px!important;}
		} 
		@media only screen and (min-width:428px){ 
			html {font-size:26.75px!important;} 
		} 
		@media only screen and (min-width:481px){ 
			html {font-size:30px!important;} 
		} 
		@media only screen and (min-width:569px){ 
			html {font-size:35px!important;} 
		} 
		@media only screen and (min-width:641px){ 
			html {font-size:40px!important;} 
		}
		/*公用格式*/
		body{display: flex;flex-direction: column;}
		header{height: 2.55rem;background: #04FAC2;display: flex;align-items: center;justify-content: space-around;}
		header a .iconfont{font-size: 1rem;color: red;}
		header input{width: 65.7%;height: 1.45rem;border: none;background:#f2f3f7; border-radius: 0.25rem;text-align: center;font-size: 20rem;}
		header a{font-size: .75rem;color: #000;height: 0.675rem;line-height: 0.675rem;}
		footer {height: 2.5rem;border-top: 1px #f8f8f8 solid;display: flex;align-items: center; justify-content: space-around;}
		footer a {display: flex;flex-direction: column;align-items: center;color: #949494;font-size:0.6rem; }
		footer a .iconfont{font-size: 1.1rem;}
		footer a:hover {color: #d53f4a;}
		
		section{flex: 1;overflow: auto;}
		.banner{height: 6.925rem;}
		.banner img{height: 6.925rem;width: 100%;}
		nav {height: 8.675rem;width: 86%;margin:0 auto;border-bottom:1px #e1e1e1 solid;display: flex;flex-wrap: wrap;justify-content: space-around;align-content: flex-start;align-items: center;}
		nav a{width: 20%;font-size:.55rem;color: #343434; display: flex;flex-direction: column;align-items: center;margin-top: 1rem;}
		nav a .iconfont{font-size: 1.5rem;}
		nav a:nth-child(2n) .iconfont{color: #ffe695;}
		nav a:nth-child(3n+1) .iconfont{color: #c8c9ff;}
		nav a:nth-child(3n) .iconfont{color: #ffb8a9}
		nav a:nth-child(5) .iconfont{color: #5d8de2;}