#shuliang{color:#ff5500;font-size:14px; font-weight:bold;}
#zong1{color:#ff5500;font-size:14px; font-weight:bold;}
#min1{width:20px; height:18px;border:1px solid #ccc;}
#text_box1{ width:30px; text-align:center; border:1px solid #ccc;}
#add1{width:20px; height:18px;border:1px solid #ccc;}
#total1{color:#ff5500;font-size:14px; font-weight:bold;}
.tb1_td8{width: 109px;text-align: center;}


